<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>admin</title>
</head>

<body>
  <form action="/scrape" method="post">
    <input type="submit" value="update">
  </form>
  
</body>
</html>